# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
android/
ios/

# Builds locais
builds/*.apk

# Credenciais — NUNCA versionar
credentials.json
*.keystore
*.jks
google-services.json

# macOS
.DS_Store

# typescript
*.tsbuildinfo
